@page
@model miAppVeterinaria.Pages.Informacion.ContactoModel
@{
}

<h1> Sección de contacto</h1>

<div>

    <form method="post">
        Asunto: <input type="text" name="asunto"/>
        CorreoDestino: <input type="email" name="emailaddress" />
        Mensaje: <input type="text" style="font-size:24px" name="message" />
      <input type="submit" value="Send Email" />
    </form>

</div>